@import "tailwindcss";

:root {
  --white: white;

  --gray-100: #F4F6FA;
  --gray-500: #EAEEF4;

  --blue-400: #4485F9;
  --red-100: #FF9DB5;
  --red-600: #f60d47;

  --background: var(--gray-100);
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
