.pharmCard {
    background-color: white;
    border-radius: 10px;

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);

    /* TODO: check */
    /* margin: 10px;  */
}

.pharmCard__container {
    padding: 15px;
}
